apiVersion: v1
kind: Service
metadata:
  name: optimization-api
  labels:
    app: optimization-api
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
  selector:
    app: optimization-api
