apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: opt-sim-api
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - REPLACE_HOST
      secretName: opt-sim-api-tls
  rules:
    - host: REPLACE_HOST
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: opt-sim-api
                port:
                  number: 80
